
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

  header {
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 15px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  nav {
    font-weight: 600;
  } 

  h1 {
      font-size: 36px;
      color: #00dcea;
      font-weight: 700;
      
  }
    
  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
}
  a {
    text-decoration: none;
    color: #00dcea;
    list-style-type: none;
    margin: 0px 8px;
 }
  a:hover {
    color: #d1944a !important;
    }

 .iniciaSesion{
     background-color: #00dcea;
     color: #FFFFFF !important;
     border: none;
     padding: 12px 28px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     
 }

  .heroSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
    background-image: url("../imagenes/imagen-home.jpg");
    max-width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat:no-repeat;
    
}

.herotitle {
    color: #FFFFFF;
    font-size: 300px;
    font-weight: 800;
    opacity: 0.7;
}



/* SOBRE NOSOTROS */

.sobrenosotros {
  font-size: 22px;
  font-style: italic;
  color: #414042 ;
}

/* 4 IMAGENES */


.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
  
  .item:hover{
    flex: 7;
  
}

.item-1 { 
  background-image: url('../imagenes/01.jpg');
}

.item-2 { 
  background-image: url('../imagenes/02.jpg');
}

.item-3 { 
  background-image: url('../imagenes/03.jpg');
}

.item-4 { 
  background-image: url('../imagenes/04.jpg');
}

.item-5 { 
  background-image: url('../imagenes/05.jpg');
}

/* RESERVA */

h2 {
  color:#FFFFFF;
  font-size: 30px;
  font-weight: 700;
}

.reserva {
  background: #00dcea;
  height: 100px;
  color: #FFFFFF;
}


/* CONTACTO */
.sectionContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 400px;
}

form input[type="text"],
form input[type="email"] {
  width: 400px;
  padding: 3px 10px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #949494;
  margin: 8px 0;
  display: inline-block;

}

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border-radius: 5px;
  background-color: #00dcea;
  color: #FFFFFF;
  display: block;
  border: none;
  -webkit-box-shadow: 3px 3px 6px -6px black;
          box-shadow: 3px 3px 6px -6px black;
}

form input[type="submit"]:hover {
  cursor: pointer;
  color: #d1944a;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #414042;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

fieldset {
  border: none;
}


/* FOOTER */

.footerSection {
  grid-area: foot;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f7b86c;
  height: 200px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconosRedes {
  margin: 0px 8px;
  width: 40px;
}

